*{
    padding: 0;
    margin: 0;
    --bg-color:#f6f6f6;
    box-sizing: content-box;

}
body{
    font-size: 25px;
    color: black;
    overflow-x: hidden;
}
header ,.home{
    background-color: var(--bg-color);
}

.home{
    height: auto;
}
nav{
    position: relative;
    padding: 20px;
    
}
.top-figure-1{
    position: absolute;
    top:0px;
    left: 200px;
    width: 70px;
}
.logo{
    top:25px;
    left: 50px;
  position: absolute;
  border-style: none;
    font-weight: 800;
    font-size: 25px;
    background-color: var(--bg-color);
}
.nav-links-container{
margin-right: 100px;
    display: flex;
    justify-content:end;
    justify-items: end;
}
ul{
    list-style: none;

}
.nav-links-container ul li a{
    margin: 10px 20px 0px 20px;
    font-weight: 600;
  
} 

.home-container{

    display: flex;
    justify-content: space-between;
}

.introduction-paragraph-container{
    padding: 120px 0 0 50px;

}
.introduction-paragraph{
    font-size: 30px;
    font-weight: bold;
}
.introduction{
    font-weight: bolder;
    font-size: 60px;
}
.what-i-do{
    font-size: 20px;
}
.hire-me-container{
    padding-top: 80px;
}
.hire-me,.submit-button{
    border-style: none;
    padding: 15px 25px;
    background-color: black;

    color: white;
    font-weight: 800;
}
.my-profile-image{
    width: 35%;
    height: auto;
}
.middle-figure-1{
height: 40px;
width: 40px;
top:200px;
right:500px;
position: absolute;
}
.middle-figure-2{
    height: 20px;
width: 20px;
top:50px;
right:400px;
position: absolute;
}
.skills-expeirence{
    padding: 50px;
    margin: auto;
    width: 50%;
    display: flex;
    gap: 20px;
}
.skills1  a{
    margin-left: 10px;
}
.skills2 a{
    margin-left: 10px;
}
.skills-mobile1 a ,.skills-mobile2 a{
    margin-left: 10px;

}
.expeirence{

margin: auto;
width: 50%;
}
.experince-paragraph{
    margin-top: 20px;
}
.services-container{
    padding: 100px;
    margin: auto;
    width: 50%;
}
.services-navs-container{
    margin: auto;
    width: 70%;
    margin-bottom: 30px;
}
.services-navs {
    display: flex;
    flex-direction: row;
    gap: 50px;
}
.services-image{
    width: 300px;
    height: 200px;
}
a{
    color: black;
    text-decoration: none;

}
.all-services{
    display: grid;
    grid-template-columns: 50% 50%;
    gap: 10px;
}
.contact-us-container{
  margin: auto;
  padding: 120px;
    background-color: #f5f5f5;
    display: grid;
    grid-template-columns: 40% 55%;
    gap: 20px;
}
.form-container{
    margin: auto;
    width: 100%;
    padding: 10px 50px;
    background-color: #e9e9e9;
}
input,select{
    width: 150px;
    height: 40px;
  padding: 5px;
    border-radius: 5px;
    border-style: none;
}
select{
    background-color: white;
    border-style: none;
height: 50px;
}
textarea{
    border-radius: 5px;
    border-style: none;
    resize: none;
    padding: 10px;
}
.map-container{
margin-left: 100px;
}
.icons-container{
   
    background-color: var(--bg-color);
}
footer{

  
    background-color: var(--bg-color);
}
iframe{
    width:100%;
     height:620px;

}
.burger-container{
    display: none;
    padding: 20px;
}
.footer-container{
    /* margin: auto;
    width: 50%; */
    padding-top: 20px;
}
.footer-fluid{
    display: flex;

justify-content: space-evenly;
padding: 50px 50px 20px 50px;
}

.item.social>a {
    font-size: 20px;
    width: 36px;
    height: 36px;
    line-height: 36px;
    display: inline-block;
    text-align: center;
    border-radius: 50%;
    box-shadow: 0 0 0 1px rgba(189, 189, 189, 0.993);
 
  
}
.col.item.social a {
    margin-right: 10px;
 
}
.copyrights-container{
    margin: auto;
    padding-top: 20px;
    width: 20%;
}
.all-services-caption{
    opacity: 70%;
}
/* Media Query
**Responsiveness
*/
@media only screen and (max-width: 600px) 
{
    .home-container{

        justify-content: space-between;
        flex-direction: column-reverse;
        padding: 20px;
    }
    .introduction-paragraph-container{
        padding: 20px 0 0 50px;
    
    }
    .introduction{
        font-weight: bolder;
        font-size: 50px;
    }
   
    .introduction-paragraph{
        font-size: 20px;
        font-weight: bold;
    }
    .my-profile-image{
        width: 80%;
        height: auto;
    }
    .skills-expeirence{
        padding: 50px;
        margin: auto;
        width: 100%;
        flex-direction: column;
    
    }
    .skills1,.skills-mobile1,.skills-mobile2,.skills2{
   
        display: flex;
        width: 80%;
        flex-direction: column;
    }
    .expeirence{
padding: 50px;
        width: 80%;
        }
        .services-container{
            padding: 50px;
            width: 80%;
        }
        .services-navs-container{
            margin: auto;
            width: 80%;
            margin-bottom: 30px;
        }
        .services-navs {
            display: flex;
            flex-direction: row;
    gap: 40px;
        }
        .services-image{
            width: 180px;
            height: 100px;
        }
        .contact-us-container{
            padding: 20px;
              display: grid;
              grid-template-columns: 100%;
          }
          .form-container{
            
              width: 90%;
              padding: 10px 20px;
          
          }
          input,select{
              width: 120px;
              height: 30px;
        
          }
          select{
            
          height: 40px;
          }
       
          .map-container{
          margin-left: 10px;
          }
          iframe{
            width:100%;
             height:400px;
              
        }
        .hide-figure{
            display: none;
        }
        .main-nav{
            display: none;
        }
        .burger-container{
            display: block;
        }
} 


.Profile-animation {

    position: relative;
    animation-name: mymove;
    animation-duration: 4s;
    animation-delay: -2s;
    float: right;

}

@keyframes mymove {
    50% {
        left: 500px;
        top: 0px;
    }

    75% {
        left: 0px;
        top: 0px;
    }

}